<!-- <div>
  <div>GitHub Username</div>
  <input (keyup)="onKey($event)" />
</div>
-->

<form class="form-inline">
  <div class="form-group">
    <input type="search"
           class="form-control"
           placeholder="Enter search string"
           [formControl]="searchField">
  </div>
</form>
<div class="text-center">
  <p class="lead" *ngIf="loading">Loading...</p>
</div>
<ul class="list-group">
  <li class="list-group-item"
      *ngFor="let track of results | async">
      Name of repo: {{ track.fullName }}
    <a target="_blank"
       href="{{track.htmlUrl}}">{{ track.htmlUrl }}
    </a>
    created at: {{ track.createdAt | date: 'MM/dd/yyyy'}}
  </li>
</ul>
<!-- <router-outlet></router-outlet> -->
