<!-- <div>
  <div>GitHub Username</div>
  <input (keyup)="onKey($event)" />
</div>
-->

<form class="form-inline">
  <div class="form-group">
    <input type="search"
           class="form-control"
           placeholder="Enter search string"
           [formControl]="searchField">
  </div>
</form>
<div class="text-center">
  <p class="lead" *ngIf="loading">Loading...</p>
</div>
<ul class="list-group">
  <li class="list-group-item"
      *ngFor="let track of results | async">
      Name of repo: {{ track.fullName }}
    <a target="_blank"
       href="{{track.htmlUrl}}">{{ track.htmlUrl }}
    </a>
    created at: {{ track.createdAt | date: 'MM/dd/yyyy'}}
  </li>
</ul>
<li *ngFor="let recipient of graphData | keyvalue">
  {{recipient.key}} --> {{recipient.value}}
</li>
<!-- <a *ngIf="showText" class="nav-link" routerLink="/bar-chart" [state]="graphData">Click here to view the bar chart of yearly commits</a> -->
<button *ngIf="showText" (click)="sendMessageto2()">Click here to view the bar chart</button>
<router-outlet></router-outlet>
